<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/default.css" rel="stylesheet">
    <link href="public/css/base.css" rel="stylesheet">
    <link href="public/css/list.css" rel="stylesheet">
    <link href="public/css/content.css" rel="stylesheet">
    <script type="text/javascript" src="public/js/jquery.min.js"></script>
    <script type="text/javascript" src="public/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <style>
        body
        {
            font-family: "Microsoft YaHei", "微软雅黑";
        }
        a:hover,a:focus
        {
            font-weight: bold;
            text-decoration: none;
        }
    </style>
    <title>微风学生管理</title>
</head>
<body>